body {
  background: #fff;
  color: #333;
  font-size: 14px;
  line-height: 25px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@media (min-width: 768px) {
  .container {
    width: 95%;
  }
  .main-content{
    margin-bottom: 35px!important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 95%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 95%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab";
  font-weight: 400;
}

.form-group.required .control-label:after {
  content: " *";
  color: red;
}

nav.logo-header {
  background-image: url("/images/bg.png");
  color: #B3994C;
}

.navbar-brand {
  padding-top: 0px !important;
}

.navbar-brand > img {
  /*height: 75px !important;*/
}

div.current-date-time {
  color: #B3994C;
}

ul.nav.navbar-nav li {
  /*background: #B3994C;*/
  /*margin-right: 15px;*/
}

ul.nav.navbar-nav li a:hover, ul.nav.navbar-nav li a:active, ul.nav.navbar-nav li a:focus {
  color: #FFF;
  background:none;
  /*text-decoration: underline;*/
}

.btn:not(.btn-raised).btn-inverse, .input-group-btn .btn:not(.btn-raised).btn-inverse {
  color: #FFF;
  background-color: #B3994C;
}

.btn-group.open > .dropdown-toggle.btn.btn-inverse, .btn-group-vertical.open > .dropdown-toggle.btn.btn-inverse {
  background-color: #96803F;
}

.btn-group.open > .dropdown-toggle.btn.btn-inverse, .btn-group-vertical.open > .dropdown-toggle.btn.btn-inverse span {
  color: #FFF;
}

.btn:not(.btn-raised):not(.btn-link):hover {
  color: #FFF;
  background-color: #96803F;
}

.dropdown-menu li a:hover {
  color: #96803F;
}

.btn:not(.btn-raised):not(.btn-link):hover, .input-group-btn .btn:not(.btn-raised):not(.btn-link):hover, .btn:not(.btn-raised):not(.btn-link):focus, .input-group-btn .btn:not(.btn-raised):not(.btn-link):focus {
  color: #FFF;
  background-color: #B3994C !important;
}

ul.nav.navbar-nav li a {
  color: #B3994C;
}

.nav img {
  width: 28px;
  height: 28px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar .navbar-nav > li > a {
  line-height: 28px;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 11px;
}

.navbar-brand {
  height: 81px;
  padding: 0;
}

.navbar-brand > img {
  /*display: block;
  margin-top: 5px;*/
}

.live-menu .navbar-nav > li > a {
  color: #676767;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 9px;
}
.live-menu .navbar-nav > li > a:hover{
  background:none !important;
}

.live-menu {
  padding-bottom: 15px;
  padding-top: 32px;
  overflow: hidden;
  display:block !important;
}

.current-date-time {
  color: #B3994C;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0px;
  padding-top: 36px;
}

.change-color-options {
  float: left;
}

.change_color {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  display: block;
  margin: 3px;
  float: left;
}

.color-text {
  display: block;
  width: 100px;
  height: 20px;
  float: left;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-top: 0;
}

.color-options {
  display: block;
  width: 105px;
  height: 20px;
  float: left;
}

.green {
  background-color: #009688;
}

.blue {
  background-color: #4285f4;
}

.orange {
  background-color: #ff5722;
}

.purple {
  background-color: #9c27b0;
}

.black {
  background-color: #212121;
}

.main-title {
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-title h1 {
  font-family: "Roboto Slab";
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

.color {
  color: #009688;
}

.color-bg, .bg-color-hover:hover {
  /*background-color: #009688;*/
  background-image: url("/images/bg.png");
  color: #fff !important;
}

.border-color {
  border-color: #009688;
}

.dropdown-menu .left-icon img {
  border-radius: 5px;
  padding: 2px;
}

.main-content {
  /*background: rgba(0, 0, 0, 0.02);
  border-top: #ddd 1px solid;*/
  /*border-bottom: #ddd 1px solid;*/
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 5px;
}

.border-content {
  background: rgba(0, 0, 0, 0.02);
  border: #ddd 1px solid;
  padding: 5px;
  margin: 5px auto;
  display: block;
}

.border-content img {
  width: 100%;
}

.search-form {
  background: #2e2e2e;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 20px;
  overflow: hidden;
}

.search-form .navbar-toggle {
  float: none;
  left: 50%;
}

.form-group {
  margin-top: 0;
}

.form-group .form-control {
  background: #fff;
  padding-left: 5px;
}

.form-control {
  font-size: 13px;
}

.btn {
  margin: 0;
}

.input-group-addon {
  background-color: #eee !important;
  border-radius: 0px !important;
}

.input-group .form-control {
  margin-bottom: 0 !important;
}

.team-img-bg {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  padding: 2px;
}

#manage_events {
  font-size: 12px;
  font-weight: bold;
}

.date-data, .cont-nation {
  color: #333;
  text-transform: uppercase;
}

.time-content {
  color: #888;
}

.cont-flag, .flag {
  padding: 2px;
}

.cont-flag img, .flag img {
  width: 25px;
  height: 25px;
}

.color-red {
  color: #f44336;
}

.color-blue {
  color: #4285f4;
}

#manage_events table td {
  vertical-align: middle;
}

.footer, #footer {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index:2000;
  left: 0;
  transition: left .5s;
  margin-bottom: 0px!important;
}

.footer #footer-links {
  color: #FFF;
  /*font-weight: bold;*/
  font-size: 11px !important;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer #footer-links ul {
  font-size: 12px;
}

.footer #footer-links li {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.footer #footer-links li:after {
  padding-right: 5px;
  content: " | ";
  margin-right: 3px;
}

.footer #footer-links li.last_child:after {
  content: "" !important;
  margin-right: 0;
}

.footer #footer-links li.last {
  border: none;
}

.footer #footer-links li a {
  color: #FFF;
}

.footer #footer-links li a:hover {
  text-decoration: none;
}

.footer-heading {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 8px;
  padding-top: 15px;
  letter-spacing: 1px;
}

.footer-list {
  padding: 0;
}

.footer-list li {
  width: 40%;
  float: left;
  display: block;
}

.footer-list li a {
  color: #fff;
  font-size: 12px;
}

.footer-list li a::before {
  content: "\f105";
  font-family: "FontAwesome";
  margin-right: 8px;
}

.footable-row-detail-inner {
/ / width: 100 %;
}

.footable-row-detail-name {
  vertical-align: middle;
  padding-bottom: 10px;
}

.footable-row-detail-value {
  padding-bottom: 10px;
  line-height: 25px;
  height: 25px;
  overflow: hidden;
}

#fillter-date .input-group-addon {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 2;
}

#fillter-date .form-control {
  padding-right: 30px;
  position: relative;
  z-index: 1;
}

.my-nations img {
  height: 40px;
  width: 40px;
}
ul.textcomplete-dropdown li {
    border-top: 1px solid #ddd;
    padding: 2px 5px;
    margin: 0;
}
ul.textcomplete-dropdown a {
    height: 30px;
    text-decoration: none;
    color: #555;
    padding: 3px 10px;
}
img.emoji-ui {
    height: 30px;
}
ul.textcomplete-dropdown img {
    vertical-align: text-top;
    height: 27px;
}
.no-padding {
  padding: 0;
}

.small-img {
  width: 35px;
}

.competition-team-img {
  border-style: solid;
  border-width: 3px;
  padding: 40px;
}

.competition-team-img img {
  width: 100%;
}

.competition-team h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}

.competition-info p {
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.2;
}

.competition-info p .text-gray {
  color: #999;
}

.competition-vs {
  font-size: 100px;
  color: #666;
  margin-top: 70px;
  min-height: 100px;
}

.counter {
  min-height: 150px;
  text-align: center;
}

#countdown {
  color: #FFFFFF;
}

#countdown div {
  color: #E5E5E5;
  font-weight: normal;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  float: left;
  width: 20%;
}

#countdown div:first-child {
  margin-left: 6%;
}

#countdown div:last-child {
  margin-right: 6%;
}

#countdown div p {
  color: #666;
  font-size: 14px;
}

#countdown div .hours, #countdown div .days,
#countdown div .minutes, #countdown div .seconds {
  padding: 20px 10px;
  color: #fff;
  background: #212121;
  font-size: 26px;
}

.share-block {
  margin-bottom: 20px;
  color: #fff;
}

.share-block a.btn {
  padding: 20px 5px;
  width: 50px;
  margin: 0 5px;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
}

.panel-heading {
  background-color: #B3994C;
  color: #FFF;
  font-weight: bold;
}

input.form-control {
  border: 1px solid #B3994C;
}

.btn-rss {
  background-color: #B3994C;
  color: #FFF !important;
  font-weight: bold;
}

.panel.panel-rss {
  border-color: #B3994C;
}

.form-group .form-control {
  background: #f0ebdb;
  padding-left: 5px;
  border: #d2c393 1px solid;
}

.form-horizontal .control-label {
  text-align: left !important;
}

.form-group label.control-label {
  font-size: 15px !important;

}

.panel.panel-rss > .panel-heading {
  background-color: #B3994C;
}

.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
  color: #FFF;
  font-weight: bold;
}

.btn-primary {
  background-color: #B3994C;
  border-color: #B3994C;
}

/* Home page */
#manage_events tbody tr {
  cursor: pointer;
}

/* Streams page */
.no_underline, .no_underline:hover {
  text-decoration: none !important;;
}

@media (max-width: 992px) {
  .live-menu .navbar-nav {
    float: right;
    display: block;
    padding-top:10px;
  }

  .live-menu .navbar-nav > li {
    float: left;
  }

  .current-date-time {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 0;
  }

  .change-color-options {
    float: right;
  }

  .color-text {
    width: 100px;
  }
}

@media (max-width: 992px) and (min-width: 421px) {
  .nav img {
    width: 15px;
    height: 15px;
  }

  .navbar .navbar-nav > li > a {
    font-size: 11px;
    padding: 10px 8px;
  }
}

@media (max-width: 510px) {
  .country-name {
    display: block;
    float: left;
  }

  .flag {
    display: block;
    float: left;
  }

}

@media (max-width: 420px) {
  .navbar-brand img {
    width: 100%;
  }

  .live-menu {
    padding-top: 15px;
    padding-bottom: 5px;
    float: right;
  }

  .navbar-brand {
    height: 80px;
  }

  .change-color-options {
    float: right;
  }

  .color-text {
    float: right;
  }

  .color-options {
    float: right;
  }

}

@media (max-width: 768px) {
  .navbar-brand {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  .navbar-brand > img {
    /*margin: auto;*/
    width: auto;
  }

  .live-menu .navbar-nav {
    float: right;
    margin: auto;
  }
}
.live-menu .navbar-nav{
  width: auto !important;
}
.full-logo {
  width: 160px !important;
  height: 50px !important;
  background: none !important;
}

.full-logo img {
  margin-top: 10px !important;
  width: 120px !important;
}

.ad_number {
  position: relative;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    margin-left: -15px;
    width: calc(100% + 30px) !important;
  }

  body .new-result-container .count span {
    font-size: 70px;
    line-height: 70px;
    bottom: 0px;
  }

  body .new-result-container .logo-holder {
    padding: 10px;
  }

}

ul.parsley-errors-list {
  color: red;
  padding-left: 0px;
}

ul.parsley-errors-list li {
  list-style: none;
}

#manage_events tbody tr {
  cursor: pointer;
}

.game_minute {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  .table-responsive {
    margin-left: -15px;
    width: calc(100% + 30px) !important;
  }

  body .new-result-container .count span {
    font-size: 70px;
    line-height: 70px;
    bottom: 0px;
  }

  body .new-result-container .logo-holder {
    padding: 10px;
  }

  .live-menu .navbar-nav {
    float: right;
  }
}

.filter .input-group > label {
  margin-top: 7px;
}

.label-gold-rss{
  background-color:#B3994C;
}
.matches_divider{
  background: #00222E;
  color: #b3994c;
  padding: 0 !important;
}
.matches_divider i{
  background: #b3994c;
  padding: 10px;
  color: #fff;
}
.matches_divider span{
  font-size: 20px;
  padding-left: 10px;
  font-weight: 400;
}
.parent_comment{
  border-left: 0 !important;
  padding: 0 !important;
}

.comment-meta *{
  vertical-align: top;
}
.media-body .comment_content{
  word-break: break-word;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: lightblue;
}
.media-heading .collapse_button{
  border: 0 !important;
}
.media-heading .user_name{
  padding: 4px 8px;
  background: #f5f5f5 !important;
  color: #6bab47;
  font-size: 15px;
}
#streams-table tbody *{
  vertical-align: middle;
}
#eventsTable tbody .count{
  background: #00222e;
  padding: 2px 3px;
  color: #b3994c;
  position: absolute;
  top: -10px;
  left: 25px;
  font-size: 10px;
  border-radius: 100%;
  width: 18px;
}
.stream_comments .ad_number:after{
  margin-top: 27px !important;
}
.media-body{
  display: inline-block !important;
  position: relative;
  width: 100%;
}


.clear-both {
  clear: both;
}
.done:hover, .vot:hover{
  cursor: pointer;
}

.btn-rss{
  position: relative;
}

.votes_count{
  font-size: 15px;
}
.event-comments .comment-meta{
  margin-bottom: 0px !important;
}
.streamCommentAdd{
  margin-top: 35px;
}

.editable-input textarea{
  width: 100% !important;
}

ul.nav{
  float:right;
}
.splitter a:hover {
  color:#B3994C ;
}
.spliter {
  padding:7px 8px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  background: none;
}
.live_menu .dropdown-menu{
  background: #215e80 !important;
  min-width:30px;
}
.live-menu{
  display:block !important;
}
.live-menu .navbar-nav{
  float:right !important;
}
.live-menu .navbar-nav > li > a{
  padding:10px 9px;
}
.current-date-time{
  padding-top: 36px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
@media (max-width: 992px) {
  .live-menu, .current-date-time {
    padding-top:10px;
  }
}
@media (max-width: 768px) {
  .live-menu .dropdown-menu{
    width:0 !important;
  }
}


.social-icons {
  padding-top: 40px;
  padding-left: 0;
}

.social-icons ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  /* float: left; */
  width: 140px;
  margin: auto;
  display: block;
}

.social-icons li {
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  display: inline-block;
}

.social-icons a {
  color: #B3994C;
}

.no-padding-left {
  padding-left: 0;
}

.avatar-image {
  width: 50px;
  height: 50px;
  float: left;
}

.avatar-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-content {
  background-color: #f5f5f5;
  margin-left: 70px;
  padding: 10px;
  position: relative;
  /*margin-top: 10px;*/
}

.comment-content::before {
  width: 0;
  height: 0;
  position: absolute;
  top: 16px;
  right: 100%;
  display: block;
  content: '';
  border-width: 8px 8px 8px 0;
  border-style: solid;
  border-color: transparent #f5f5f5 transparent transparent;
}

.profile-image-content .profile-image {
  float: left;
}

.profile-image-content .profile-content {
  float: right;
}

#accordion .color-gold {
  float: left;
}
.add-comment-link {
  position: absolute;
  top: 9px;
  left: 130px;
  color: #a1c9e8;
  cursor: pointer;
}
.comment-sort {
  position: absolute;
  top: 9px;
  right: 50px;
  /*width: 50%*/
}

#commentSort {
  z-index: -1;
  display: block;
  padding: 3px 8px;
  padding-right: 32px;
  padding-right: 14px\9;
  color: #333;
  outline: none;
  border: 0;
  border-radius: 5px;
}

.margin-top-30 {
  margin-top: 30px;
}

#avatar_upload .form-group {
  margin-bottom: 0;
}

.panel-body .user-image img {
  max-width: 250px;
  width: 100%;
}

.glyphicon-star {
  font-size: 13px;
  color: #e67e22;
}

.glyphicon-star.half {
  position: relative;
}

.glyphicon-star.half:before {
  position: relative;
  z-index: 9;
  width: 47%;
  display: block;
  overflow: hidden;
}

.glyphicon-star.half:after {
  content: '\e006';
  position: absolute;
  z-index: 8;
  color: #bdc3c7;
  top: 0;
  left: 0;
}

#user_country .form-group {
  text-align:  center;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.media.parent_comment {
  margin-left: 0;
}

.media {
  margin-left: 10px;
}

.mce-statusbar {
  display: none;
}

@media(max-width: 1054px) and (min-width: 992px){
  .live-menu .navbar-nav > li > a{
    padding: 10px 2px;
  }
}


@media (max-width: 414px) {
  .user-image {
    text-align: center;
  }
}
@media(max-width:1300px){
  .spliter {
    padding:7px 1px;
  }
}

.mobile-view-comment-unregister-show2{
  display: none;
}
.mobile-view-comment-unregister-show1{
  display: none;
}
.mce-notification-warning{
  display: none;
}
.mobile-comment-item-show{
  display: none;
}

@media(max-width:768px){
  .toggle-group>label.btn.btn-primary.toggle-on{
    width: 50%!important;
  }
  .toggle-group>label.btn.btn-default.active.toggle-off{
    width: 50%!important;
  }
  @media(max-width:767px){
    .toggle.btn.btn-primary{
      width: 100%!important;
    }
    .toggle.btn.btn-default.off{
      width: 100%!important;
    }
  }
  #comments-div{
    padding-bottom:1px!important;
  }
  .table-responsive{
    margin-bottom: 0!important;
    border-top-width: 0px!important;
  }
  .panel-group{
    margin-bottom: 0!important;
  }
  .panel-body{
    padding-bottom: 0!important;
  }
  .footer, #footer{
    position: static;
  }
  .mobile-comment-item-hide{
    display: none!important;
  }
  .mobile-comment-item-show{
    display: block;
    text-align: center;
  }
  .main-content{
    margin-top: 0!important;
    padding-top: 90px!important;
    padding-bottom: 0px;
  }
  @media(max-width:450px){
    .main-content{
      padding-top: 70px!important;
    }
  }
  .main-show{
    display: none;
  }
  .mobile-show{
    display: block!important;
  }
  .nav-mobile-view{
    position: fixed;
    background-color: #0b1a27;
    z-index: 2001;
    height: 100vh;
    top: 0;
    width: 200px;
    right: -200px;
    padding-top: 30px;
    padding-left: 20px;
    transition: right .5s;
  }
  .open-side-menu .nav-mobile-view{
    right: 0;
  }
  .dropdown-menu-mobile{
    position: relative;
    list-style-type: none;
    display: none;
    -webkit-animation: slide-down .3s ease-out;
   -moz-animation: slide-down .3s ease-out;
   left: -20px;
  }
  .open > .dropdown-menu-mobile{
    display: block;
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
  }
  @-webkit-keyframes slide-down {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-10%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }

  @-moz-keyframes slide-down {
    0% {
      opacity: 0;
      -moz-transform: translateY(-10%);
    }
    100% {
      opacity: 1;
      -moz-transform: translateY(0);
    }
  }
  .drop-item-small>a{
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  .drop-item-small>a:hover{
    background-color: #fff;
    text-decoration: none;
  }
  .close-side-menu{
    cursor: pointer;
    position: absolute;
    height: 40px;
    width: 40px;
    right: 10px;
    top: 10px;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
  }
  .mobile-view-logo{
    width: 50%;
    margin: 0 auto;
  }
  #side-menubar{
    cursor: pointer;
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    top: 30%;
    right: 3%
  }
  #side-menubar span{
    width: 20px;
    height: 17px;
    position: relative;
    display: inline-block;
    border-top: 3px solid #b2984b;
    border-bottom: 3px solid #b2984b;
  }
  #side-menubar span:after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #b2984b;
    position: absolute;
    top: 4px;
    right: 0;
  }
  .mobile-view-logo .full-logo{
    margin-bottom: 20px;
  }
  .mobile-view-logo .full-logo img{
    margin-top: 30px!important;
  }
  @media(max-width:600px){
    .mobile-view-competition-label{
      float: left;
    }
    .mobile-view-competition-selector{
      float: left;
      width: 60%!important;
    }
    .mobile-view-checkbox{
      margin-top: 10px;
    }
  }
  .mobile-view-hide{
    display: none;
  }
  .mobile-view-eventtime_hide{
    display: none;
  }
  .mobile-view-main-table-hide{
    display: none;
  }
  .mobile-view-main-table-show{
    display: block!important;
  }
  .mobile-view-team-first{
    text-align: center;
    line-height: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
    position: relative;
  }
  .mobile-view-team-second{
    text-align: center;
    line-height: 12px;
    margin-top: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    position: relative;
  }
  .mobile-view-vs-set{
    text-align: center;
    width: 20%;
    margin: 0 auto;
    border:1px solid #b3994c;
    border-radius: 10px;
    margin-bottom: -6px;
  }
  @media(min-width:600px){
    .mobile-view-vs-set{
      width: 13%;;
    }
  }
  .mobile-view-eventtime_show{
    display: block!important;
  }
  .mobile-view-watch-hide{
    display: none;
  }
  .mobile-view-watch-show{
    display: block!important;
  }

  .mobile-view-vs-set span{
    color: #000;
  }
  @media(max-width:365px){
    .mobile-view-alert-hide{
      display: none;
    }
    .mobile-view-alert-show{
      display: block!important;
      text-align: center;
      font-size: 12px;
    }
    .alert{
      padding: 1px!important;
      margin-bottom: 5px;
    }
  }
  .alert{
    padding: 5px!important;
    margin-bottom: 5px;
  }
  @media(min-width:355px){
    .mobile-view-alert-hide{
      font-size: 8px;
    }
  }
  @media(min-width:400px){
    .mobile-view-alert-hide{
      font-size: 9px;
    }
  }
  .mobile-ipad-view-for-7{
    width: 63.3333%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }
  .mobile-ipad-view-for-5{
    width: 35.666%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }
  @media(max-width:450px)
  {
    .mobile-view-competition-selector{
      width: 50%!important;
    }
  }
  .mobile-show #headerContainer{
    position: relative;
    right: 0px;
    transition: right .5s;
  }
  #mobile-view-content{
    right: 0px;
    transition: right .5s;
  }
  .move-left-content{
    right: 200px!important;
    pointer-events: none;
  }
  .open-side-menu #headerContainer{
    position: relative;
    right: 200px!important;
  }
  .nav-mobile-view li a{
    color: #b3994c;
  }
  @media(max-width:767px){
    .footer li{
      line-height: 10px;
    }
    .footer ul{
      line-height: 10px!important;
    }
    .footer div{
      line-height: 10px!important;
    }
    .footer{
      padding-top: 0;
    }
  }
  .social-icons a i{
    font-size: 1.5em!important;
  }
  .nav-mobile-view>li a:hover{
    background-color: #0b1a27;
    color: #fff;
  }
  .nav-mobile-view>li a:focus,
  .nav-mobile-view>li a:active{
    background-color: #0b1a27;
    color: #b3994c;
  }
  .main-hide{
    display: none;
  }
  @media(max-width:550px) {
    .mobile-view-comment-unregister-hide{
      display: none;
    }
    .mobile-view-comment-unregister-show2{
      display: block;
    }
    @media(max-width:500px){
      .mobile-view-comment-unregister-show2{
        display: none;
      }
      .mobile-view-comment-unregister-show1{
        display: block!important;
      }
      .mobile-view-message-hide{
        display: none;
      }
      .mobile-view-message-date{
        width: 40%!important;
      }
      .add-comment-link {
          top: 45px;
          left: 10px;
          color: #00222e;
          font-weight: 700;
      }
    }
  }

  @media(max-width:450px){
    .mobile-view-select-time-cont{
      width: 90%;
      float: none;
      margin: 0 auto;
    }
  }
  @media(max-width: 400px){
    .form-control{
      font-size: 9px;
      padding: 6px 5px;
    }
  }
  .modal{
    z-index: 2005!important;
  }
  .event-comments>form#postComment{
    margin-bottom: 0!important;
  }
  #mobile-view-content>.panel-group.panel-comments{
    margin-bottom: -15px!important;
  }
  @media(max-width:365px){
    .matches_divider i{
      padding: 5px;
    }
    div.panel-heading#panel-comment{
      padding: 5px;
    }
    .mobile-view-vs-set{
      width: 27%;
    }
  }
  @media(min-width: 600px){
    .mobile-view-competition-selector{
      display: inline-block;
      width: auto;
    }
  }
  @media(max-width:800px){
    .mobile-view-watch-button-down{
      margin-top: 2px;
      margin-bottom: 5px;

      vertical-align: middle;
      width: 60px;
      height: 28px;
    }
  }

  @media(max-width:800px){
    .mobile-view-news-button-down{
      margin-top: 2px;
      margin-bottom: 2px;

      vertical-align: middle;
      width: 60px;
      height: 32px;
    }
  }
  @media(max-width:800px){
    .mobile-view-tv-button-down{
      margin-top: 5px;
      margin-bottom: 2px;

      vertical-align: middle;
      width: 60px;
      height: 32px;
    }
  }

  @media(max-width:560px){
    .mobile-view-country{
      font-size: 11px;
      padding-left: 10% !important;
      padding-top:10px;
      white-space: inherit;

    }
  }

  .background-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
    z-index: 3000;
  }
  .mobile-show>div.background-overlay-sidebar{
    width: 100%;
    height: 110%;
    background-color: #000;
    position: fixed;
    opacity: 0;
    display: none;
    transition: opacity .25s ease-in-out;
  }
  .floating-button,
  .floating-button-toggle,
  .floating-button a{
  	bottom:18px;
  	z-index:3003;
  	right:10px;
  	width:40px;
  	height:40px;
  	border-radius:50%;
  	position:fixed;
  }
  .plus{
  	display:none;
  }
  .floating-button-toggle{
  	z-index:3005;
    transform: rotate(180deg);
  	transition:all .2s ease-in-out 0s;
    font-size: 2.6em;
    color: #0b1925;
    text-align: center;
    width: auto;
    height: auto;
    box-shadow: 0 0px 5px 2px rgba(179,153,76,0.7);
  }
  .floating-button a{
    display: none;
  	bottom:60px;
  	z-index:3003;
  	right:20px;
  	width:40px;
  	height:40px;
  	color:#00222e;
  	background: #b3994c;
  	text-align:center;
  	line-height: 40px;
  	-webkit-transform:none;
  	transform:none;
  	transition:all .3s ease-in-out 0s;
  }
  .floating-button a:before{
  	bottom:-20px;
  	right:-15px;
  	color:#b3994c;;
  	height:20px;
  	opacity:0;
  	font-size:12px;
  	min-width:65px;
  	margin-top:-10px;
  	line-height:20px;
  	position:inherit;
  	border-radius:2px;
  	content:attr(data-title);
  	background:rgba(0,0,0,.4);
  	transition:all .4s ease-in-out 0s;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
  }
  .plus:checked + .floating-button-toggle{
  	-webkit-transform:rotate(45deg);
  	transform:rotate(45deg);
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(1){
  	-webkit-transform:translate(0,-195px);
  	transform: translate(0,-195px);
  	transition-duration:.4s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(2){
  	-webkit-transform: translate(-150px,-130px);
  	transform: translate(-150px,-130px);
  	transition-duration:.3s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(3){
  	-webkit-transform: translate(-200px,-50px);
  	transform: translate(-200px,-50px);
  	transition-duration:.2s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(4){
  	-webkit-transform:translate(-220px,27px);
  	transform: translate(-220px,27px);
  	transition-duration:.1s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(5){
  	-webkit-transform:translate(-130px,28.5px);
  	transform: translate(-130px,28.5px);
  	transition-duration:.1s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(6){
  	-webkit-transform:translate(-90px,-60px);
  	transform: translate(-90px,-60px);
  	transition-duration:.1s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(7){
  	-webkit-transform:translate(0,-115px);
  	transform: translate(0,-115px);
  	transition-duration:.4s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(8){
  	-webkit-transform:translate(-50px,30px);
  	transform: translate(-50px,30px);
  	transition-duration:.4s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(9){
  	-webkit-transform:translate(0px,-30px);
  	transform:translate(0px,-30px);
  	transition-duration:.5s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(10){
  	-webkit-transform: translate(-80px,-179px);
  	transform: translate(-80px,-179px);
  	transition-duration:.3s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a:before{
  	opacity:1;
  	-webkit-transform:translate(-5px,0);
  	transform:translate(-5px,0);
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(1):before{
  	transition-duration:1.15s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(2):before{
  	transition-duration:1.05s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(3):before{
  	transition-duration:.95s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(4):before{
  	transition-duration:.85s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(5):before{
  	transition-duration:.75s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(6):before{
  	transition-duration:.65s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(7):before{
  	transition-duration:.85s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(8):before{
  	transition-duration:.75s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(9):before{
  	transition-duration:.65s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.beforelogin:nth-child(10):before{
  	transition-duration:1.05s;
  }
  .floating-button a.beforelogin:nth-child(3):before{
    right: -28px;
  }
  .floating-button a.beforelogin:nth-child(4):before{
    right: -20px;
  }


  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(1){
  	-webkit-transform: translate(-60px,-95px);
  	transform: translate(-60px,-95px);
  	transition-duration:.4s;
  }

  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(2){
  	-webkit-transform: translate(-118px,-43px);
  	transform: translate(-115px,-43px);
  	transition-duration:.4s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(3){
  	-webkit-transform: translate(-135px,17px);
  	transform: translate(-135px,23px);
  	transition-duration:.35s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(4){
  	-webkit-transform: translate(-218px,25px);
  	transform: translate(-218px,25px);
  	transition-duration:.35s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(5){
  	-webkit-transform: translate(-207px,-44px);
  	transform: translate(-207px,-44px);
  	transition-duration:.1s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(6){
  	-webkit-transform: translate(-175px,-110px);
  	transform: translate(-175px,-110px);
  	transition-duration:.15s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(7){
  	-webkit-transform: translate(-121px,-153px);
  	transform: translate(-121px,-153px);
  	transition-duration:.2s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(8){
  	-webkit-transform: translate(-61px,-195px);
  	transform: translate(-61px,-195px);
  	transition-duration:.25s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(9){
  	-webkit-transform:translate(10px,-215px);
  	transform:translate(10px,-215px);
  	transition-duration:.3s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(10){
  	-webkit-transform: translate(5px,-120px);
  	transform: translate(5px,-120px);
  	transition-duration:.4s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(11){
  	-webkit-transform: translate(-50px,10px);
  	transform: translate(-50px,10px);
  	transition-duration:.4s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(12){
  	-webkit-transform: translate(5px,-40px);
  	transform: translate(5px,-40px);
  	transition-duration:.4s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(1):before{
  	transition-duration:1.15s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(2):before{
  	transition-duration:1.05s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(3):before{
  	transition-duration:.95s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(4):before{
  	transition-duration:.85s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(5):before{
  	transition-duration:.85s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(6):before{
  	transition-duration:.85s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(7):before{
  	transition-duration:.85s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(8):before{
  	transition-duration:.85s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(9):before{
  	transition-duration:.85s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(10):before{
  	transition-duration:.85s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(11):before{
  	transition-duration:.85s;
  }
  .plus:checked + .floating-button-toggle + .floating-button a.afterlogin:nth-child(12):before{
  	transition-duration:.85s;
  }
  .floating-button a.afterlogin:nth-child(4):before{
    right: -28px;
  }
  select.mobile-view-competition-selector{
        margin-top: 9px;
  }
  .mobile-view-team-first>span{
    overflow: hidden;
    width: 300px;
    display: inline-block;
    text-overflow: ellipsis;
  }
  .mobile-view-team-second>span{
    overflow: hidden;
    width: 300px;
    display: inline-block;
    text-overflow: ellipsis;
  }
  @media(max-width:550px) {
    .mobile-view-team-first>span{
      width: 200px;
    }
    .mobile-view-team-second>span{
      width: 200px;
    }
  }
  @media(max-width:400px) {
    .mobile-view-team-first>span{
      width: 140px;
    }
    .mobile-view-team-second>span{
      width: 140px;
    }
  }
  @media(max-width:350px) {
    .mobile-view-team-first>span{
      width: 120px;
    }
    .mobile-view-team-second>span{
      width: 120px;
    }
  }
  .mobile-star-hidden{
    display: none;
  }
  .alert-info{
    margin-bottom: 5px!important;
  }
}
div.live-menu.social-icons{
  position: absolute;
  right: calc(50% + 30px);
  padding: 0px;
  bottom: 20px;
  transition: right 0.5s;
  z-index: 2000;
}
@media(max-width:1300px){
  div.live-menu.social-icons{
    right: calc(50% + 80px);
    bottom: 20px;
  }
}
@media(max-width:1100px){
  div.live-menu.social-icons{
    right: calc(50% + 100px);
  }
}
@media(max-width:990px){
  div.live-menu.social-icons{
    right: calc(50% - 70px);
    bottom: 25px;
  }
}
@media(max-width:1500px){
  .spliter{
    padding: 7px 0;
  }
}
@media(min-width:769px){
  .floating-button{
    display: none;
  }
  div.alert.alert-warning {
      margin-bottom: 10px;
      margin-top: 25px;
  }
  #eventsTable tbody .count{
    left: 55px!important;
  }
}
@media(max-width:992px) and (min-width:768px){
  .mobile-ipad-view-for-5{
    width: 41.66666667%;
    float: left;
  }
  .mobile-ipad-view-for-7{
    width: 58.33333333%;
    float: left;
  }
  .col-md-5{
    width: 41.66666667%;
    float: left;
  }
  .col-md-2{
    width:16.66666667%;
    float: left;
  }
}
.alert-info{
  padding: 15px!important;
  margin-top: 10px;
}
@media(max-width:500px){
  .mobile-view-star{
    padding-left: 0!important;
  }

}
.tvSchedule_header {
  background-color: #B3994c;
  height:40px;
}
.header_text{
  font-size:15px;
  font-weight:bold;
  text-align: center;
  padding-top:10px;
  color:#00222E;
}

.channel_tr{
  background-color:#f9f9f9;
}
.channel_name{
  font-size: 11px;
  text-align:center;
  padding-top:17px;
  white-space: normal;
}
.channel_country{
  font-size: 11px;
  padding-left: 40%;;
  padding-top:10px;
}

.channel_match{
  font-size: 12px;
  text-align:center;
  padding-top:15px;
  white-space: normal;
  color:#337ab7;
}

#tv-hover:hover
{
  background-color:#eee;
}

.tv_row
{
  border-bottom: 1px solid #eee;
}

.tv_row_channel
{
  border-bottom: 1px solid #ddd;
}

.tv_row_channel_match
{
  border-bottom: 1px solid #ccc;
  background-color:#ddd;
}

.tv_row_country_border
{
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.tv_row_channel_border
{
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.tv_channel_table
{
  padding-top:8px ;
}

.tv_channel_header
{
  font-size: 30px;
  color:blue;
  align-content: center;
  background-color: gold;
}

@media(max-width:500px){
  .mobile-tv_row{
    margin-left: 0 ! important;
    margin-right: 0 ! important;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }

@media(max-width:500px){
  .mobile-p{
    padding: 0!important;
    padding-right: 3% !important;
  }
}

@media(max-width:500px){
  .mobile_channel_match{
    padding: 0!important;
    align-content: center !important;
  }
}


@media(max-width:500px){
  .mobile-view-competition{
    display: none;
  }
}

@media(max-width:500px){
  .mobile-view-competition-logo{
    margin-top:15px;
  }
}

@media(max-width:500px){
  .mobile-view-competition-time{
    margin-top:25px;
  }
}


@media(max-width:500px){
  .mobile-view-text-center{
    text-align: center;
  }
}


.post
{
  height: 300px !important;
  width:100%;

}

@media(max-width:800px){
  .mobile-view-watch-margin{
    margin-top:37px !important;
  }
}


textarea.about
{
  width: 100%;
}
